.Navbar {
  display: flex;
  justify-self: center;
  margin: 0;
}
h1 {
  z-index: 6;
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #aaa;
  cursor: pointer;
}
.nav-list {
  font-size: 20px;
  margin-left: 25px;
  color: red;
}

p {
  font-size: 20px;
  margin-left: 25px;
  color: red;
}
